*{
  font-family: 'Cormorant Garamond', serif;

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}
#map {
 height :350px;
 margin-top: 50px;
}


h1 {
  margin-top:50px;
}

body {
  background-image: url(./images/background.png);
  
  background-size: cover;
  
  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-repeat: no-repeat;

  min-height: 100vh;

  height: 100%;

  overflow: auto;

}

html {
  
}
header{
  text-align: center;

  height: 75px;

  background-color: gray;
  
  margin-bottom: 25px;
}


#wrap {
 
}


